{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/**/*.{js,vue}"
  ],
  "exclude": [
    "**/*.spec.js",
    "**/*.cy.js",
    "cypress/",
    "coverage/",
    ".nyc_output/",
    "vite.config.js",
    "vitest.config.js",
    "vitest.coverage.config.js",
    "cypress.config.js"
  ],
  "reporter": [
    "text-summary",
    "html"
  ],
  "check-coverage": true,
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80
}


